@font-face {
  font-family: "Star Jedi";
  src: url("../fonts/index-font/Starjedi.ttf") format("truetype");
}

body {
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  color: #fff;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

/* Audio icons */
.audio-button {
  position: fixed;
  border: none;
  top: 5px;
  left: 5px;
  z-index: 5;
  background-color: transparent;
  opacity: 0.5;
  pointer-events: all;
}

.music-button {
  top: 5px;
  left: 5px;
  z-index: 6;
}

.sound-button {
  top: 5px;
  left: 50px;
  z-index: 6;
}

.btn,
.how-to-play-button,
.back-button {
  display: block;
  max-width: 200px;
  background: #f9d71c;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  line-height: 30px;
  font-family: "Star Jedi", sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover,
.back-button:hover {
  color: #f9d71c;
  background-color: #000;
  border: 2px #f9d71c solid;
}

/* Home page title */
.header,
#game-choices-header {
  width: 65%;
  margin: 0 auto;
  font-family: "Star Jedi", sans-serif;
  font-size: 2.5em;
  color: #f9d71c;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#game-choices-header {
  margin: auto;
  padding-bottom: 100px;
}

/* Home page "Enter the jedi temple" button */
.home-play-button,
.info-button,
.results-button,
.meet-the-team-button {
  margin: 5% auto;
  display: block;
  height: auto;
  background: #f9d71c;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  line-height: 25px;
  font-family: "Star Jedi", sans-serif;
  font-size: 1.5em;
}

.results-button,
.meet-the-team-button {
  width: 50%;
  text-decoration: none;
  border: 2px #000 solid;
}

.home-play-button:hover,
.info-button:hover,
.trial-selection:hover,
.results-button:hover,
.meet-the-team-button:hover {
  background: #000;
  color: #f9d71c;
  border: 2px #f9d71c solid;
}

.trial-selection {
  display: block;
  height: auto;
  background: #f9d71c;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  line-height: 25px;
  font-family: "Star Jedi", sans-serif;
  font-size: 1.5em;
}

/* Name input on Home page */

.name-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.name-input label {
  font-family: "Star Jedi", sans-serif;
  font-size: 1.1em;
  color: #f9d71c;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.name-input input[type="text"] {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
}

.name-input button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Star Jedi", sans-serif;
  color: #f9d71c;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.game-choices {
  width: 100%;
}

.trial-buttons-container {
  display: flex;
  justify-content: space-between;
}

.trial-selection {
  text-decoration: none;
}

.trial-selection + .trial-selection {
  margin-left: 1em;
}

/* How to play pop up */

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  max-width: 400px;
}

.popup-content {
  text-align: center;
  font-family: "Star Jedi", sans-serif;
  /* font-weight: 100; */
}

.close-popup-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #f9d71c;
  text-align: center;
  border-radius: 5px;
  color: #000;
  line-height: 25px;
  font-family: "Star Jedi", sans-serif;
}

.dialog {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  display: none;
}

.dialog p {
  margin: 0;
  padding: 0;
}

#results-page {
  background: url("../assets/images/graduation-ceremony.jpeg");
  background-size: cover;
}

.results-content {
  display: none;
}

.results-header,
.results-section,
.results-info,
.all-trails-incomplete {
  margin: 30px auto;
  width: 60%;
  height: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5%;
  border: 2px solid #f9d71c;
  font-family: "Star Jedi", sans-serif;
}

.results-info {
  margin-bottom: 20px;
}

.results-back-to-home-button {
  background: #f9d71c;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: #000;
  font-family: "Star Jedi", sans-serif;
}

/* Home Page Media Queries */

@media screen and (max-width: 600px) {
  .header > *,
  #game-choices-header {
    font-size: 2.5rem;
  }

  #game-choices-header {
    padding-bottom: 1em;
  }

  .home-play-button,
  .info-button,
  .trial-selection,
  .results-button,
  .meet-the-team-button {
    font-size: 1rem;
  }

  .trial-selection {
    padding: 0.75em 1.25em;
    letter-spacing: 1px;
    display: initial;
  }

  .trial-buttons-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trial-selection + .trial-selection {
    margin-top: 1em;
    margin-left: initial;
  }
}

@media screen and (min-width: 660px) {
  body {
    display: flex;
  }
}
