@font-face {
  font-family: 'Star Jedi';
  src: url('../fonts/index-font/Starjedi.ttf') format('truetype');
}


body {
  font-family: Arial, sans-serif;
  background: url("../assets/images-home/template.png") no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

/* Home page title */
.header, #game-choices-header {
  width: 65%;
  margin: 0 auto;
  font-family: 'Star Jedi', sans-serif;
  font-size: 2.5em;
  color: #F9D71C;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#game-choices-header {
  margin: auto;
  padding-bottom: 100px;
}

/* Home page "Enter the jedi temple" button */
.home-play-button, .trial-selection, .info-button {
  margin: 5% auto;
  display: block;
  width: 80%;
  height: auto;
  background: #F9D71C;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  line-height: 25px;
  font-family: "Star Jedi", sans-serif;
  font-size: 1.5em;
}

/* Name input on Home page */

.name-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.name-input label {
  font-family: "Star Jedi", sans-serif;
  font-size: 1.1em;
  color: #F9D71C;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.name-input input[type="text"] {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
}

.name-input button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Star Jedi", sans-serif;
  color: #F9D71C;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.game-choices {
  width: 100%;
}

.trial-selection {
  display: inline-flex;
  margin: 0 10px;
  width: 150px;
  height: 60px;
}

/* How to play pop up */

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  max-width: 400px;
  background: url("../assets/images-home/pexels-instawally-176851.png") no-repeat center center cover;
}


.popup-content {
  text-align: center;
  font-family: "Star Jedi", sans-serif;
  /* font-weight: 100; */
}

.close-popup-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #F9D71C;
  text-align: center;
  border-radius: 5px;
  color: #000;
  line-height: 25px;
  font-family: "Star Jedi", sans-serif;
}



.dialog {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  display: none;
}


.dialog p {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}



/* Home Page Media Queries */

@media screen and (max-width: 600px) {
  .header {
    font-size: 1.8em;
  }
}