body {
    text-align: center;
    background-image: url("../assets/images/wordle-background-image.jpg")
}

#title {
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.container {
    width: 500px;
    height: 680px;
    background-color: orange;
    margin: 0 auto;
}

#board {
    width: 300px;
    height: 390px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: darkolivegreen;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: baseline;
}

.keyboard-button {
    align-items: center;
    vertical-align: baseline;
}

.tile {
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: lightgrey;
    border-radius: 5px;
}

.row-one, .row-two, .row-three {
    margin: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.back-button {
    margin-left: 10px;
    text-transform: uppercase;
}

.next-button {
    margin-right: 10px;
    text-transform: uppercase;
}

.correct {
    background-color: lightgreen;
}

.exist {
    background-color: yellow;
}

.absent {
    background-color: lightgray;
}

/* Modal for Wordle Instructions */

.open-wordle-modal {
    padding: 5px;
    margin-bottom: 10px;
}

#wordle-modal-title {
    color: black;
    text-transform: uppercase;
}

.modal {
    display: none;
    position: fixed;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    position: relative;
    top: 50%;
}

.modal, #open-wordle-modal {
    display: block;
}

#wordle-instructions {
    padding: 10px;
    color: black;
    margin: 0 auto;
    margin-left: 50px;
    font-size: 12px;
    background-color: white;
    height: 400px;
    min-width: 300px;
    top: 50%;
    border:  double 2px black;
}

.close-button {
    float: right;
    width: 3.2rem;
    cursor: pointer;
}