body {
    text-align: center;   
}

#wordle-background-image {
    background-image: url('../wordle-background-image.jpg');
    background-size: cover;
}

h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 30px;
}

.container {
    width: 500px;
    height: 700px;
    background-color: orange;
}

#background-image {
    background-image: url('assets/images/wordle-background-image.jpg');
    background-size: cover;
}

#board {
    width: 290px;
    height: 400px;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: darkolivegreen;
}

.tile {
    border: 2px solid gainsboro;
    width: 50px;
    height: 50px;
    margin: 2px;
    margin-top: 10px;
}

.row-one, .row-two {
    margin: 5px;
}


