body {
<<<<<<<<< Temporary merge branch 1
  text-align: center;
  background-image: url("../assets/images/wordle-background-image.jpg");
}

#title {
  width: initial;
=========
    text-align: center;   
}

#wordle-background-image {
    background-image: url('../wordle-background-image.jpg');
    background-size: cover;
}

h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 30px;
}

.container {
    width: 500px;
    height: 700px;
    background-color: orange;
>>>>>>>>> Temporary merge branch 2
}

#background-image {
    background-image: url('assets/images/wordle-background-image.jpg');
    background-size: cover;
}

#board {
  width: 300px;
  height: 390px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #f9d71c;
  align-items: center;
  justify-content: space-evenly;
  vertical-align: baseline;
  border-radius: 5px;
  border: solid 3px white;
}

.keyboard-button {
  align-items: center;
  vertical-align: baseline;
  background-color: #f9d71c;
  border-radius: 5px;
  font-family: "Star Jedi", sans-serif;
}

#background-image {
  background-image: url("assets/images/wordle-background-image.jpg");
  background-size: cover;
}

#board {
  width: 290px;
  height: 400px;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: darkolivegreen;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  width: 50px;
  height: 50px;
  margin: 2px;
  background-color: darkgrey;
  border-radius: 5px;
  border: solid 2px black;
}

/* .play-again {
  margin-top: 0.5em;
} */

.row-one,
.row-two,
.row-three {
  margin: 5px;
}

.guess-incorrect:not(.exist) {
  opacity: 0.25;
}

.exist {
  background-color: #f9d71c;
}

.correct {
  background-color: lightgreen;
  color: #fff;
}

.exist.correct {
  background-color: lightgreen;
  color: #000;
}

.absent {
  background-color: lightgray;
}

/* Modal for Wordle Instructions */
#wordle-modal-title {
  color: black;
  text-transform: uppercase;
}

.modal {
  display: none;
  position: fixed;
  margin: 0 auto;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wordle-instructions {
  padding: 10px;
  color: black;
  margin: 0 auto;
  margin-left: 50px;
  font-size: 12px;
  background-color: white;
  height: 440px;
  width: 250px;
  top: 50%;
  border: double 2px black;
}

#wordle-instructions p {
  font-style: italic;
}

.close-button {
  float: right;
  width: 3.2rem;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Add some space between the buttons */
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  /* background-color: #333;
  color: white; */
  text-decoration: none;
  cursor: pointer;
}